{% extends "layout.html" %}
{% block content %}

    <div class="home-page">
        <div class="home-page--block">


            {% if authorized is false %}
            <a href="/login"><button id="home-button">Login with discord</button></a>
            {% else %}
            <a href="/dashboard"><button id="home-button">Open Dashboard</button></a>
            {%endif %}


        </div>
        <div class="home-page--block">
            Features of Bot
        </div>
        <div class="home-page--block" id="landing-page__stats">
            Stats 
            here are some totally legit stats for you to belive and invite this bot to your server

            -1000 GUILDS ARE CURRENTLY IN PARADOXICAL STATE
            -10000+ MEBERS ARE PLAYING WITH PARADOXES
            -7 PPL ARE NOT LIKING PARADOXES
            -Shard INFO
            -BOT DOWN OR NOT DOWN
            Invite Bot 
            Paradox Bot Dashboard
                Button if not logged in then login on discord using pop up Window then close popup window and redirecet ot choose Servers
            Vote on Top.gg to earn Coins to buy premium version

            <a href="#"><button>Invite Bot</button></a>
            <a href="#"><button>Dashboard</button></a>
            <a href="/login"><button>Click Here To Login</button></a>
            <a href="#"><button>Vote For Rewards</button></a>
            
        </div>

        <strong>How we Deal with Paradoxes</strong>



    </div> <!--Landing Page End-->


{% endblock content %}