<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Paradox Bot Home</title>
</head>
<body>
    <main> 
        <!--Header-->
        <header class="header">
            <span>
                Paradox Bot!

                ~A Hyper Paradoxical Bot
            </span>
            <span>Login Using Discord</span>
            <span>Select Server</span>
            <span>Documentation</span>
            <span>Support Server</span>
            <span>Tutorials</span>
        </header>

        <main> 
            <div class="landing-page">
                <div class="landing-page--block">
                    Invite Bot 
                    Paradox Bot Dashboard
                     Button if not logged in then login on discord using pop up Window then close popup window and redirecet ot choose Servers
                    Vote on Top.gg to earn Coins to buy premium version
    
                    <a href="#"><button>Invite Bot</button></a>
                    <a href="#"><button>Dashboard</button></a>
                    <a href="/login"><button>Click Here To Login</button></a>
                    <a href="#"><button>Vote For Rewards</button></a>
    
                </div>
                <div class="landing-page--block">
                    Features of Bot
                </div>
                <div class="landing-page--block" id="landing-page__stats">
                    Stats 
                    here are some totally legit stats for you to belive and invite this bot to your server
    
                    -1000 GUILDS ARE CURRENTLY IN PARADOXICAL STATE
                    -10000+ MEBERS ARE PLAYING WITH PARADOXES
                    -7 PPL ARE NOT LIKING PARADOXES
                    -Shard INFO
                    -BOT DOWN OR NOT DOWN
                    
                </div>


                <br>
                <br>
                <br>
                <br>


                <strong>How we Deal with Paradoxes</strong>



            </div>
        </main>
        <footer>

        </footer>
    </main>
</body>
</html>