{% extends "layout.html" %}
{% block content %}
<div class="dashboard-main">
    <div class="servers-bar">
        <a href="/dashboard/me">
        <img src="{{ user.avatar_url }}">
        </a>
        <h4>{{user.name}}!</h4> <!--add a diffrent effect to the pfp so we can seperate it from the avatar-->
        <hr style="width: 75%; background-color: white;" />
        <section class="server-cards">
            {% for guild in guilds %}
            <div class="server-card">
            <a href="/dashboard/{{guild.id}}">
                {% if guild.icon_url is not none %}
                <img src="{{guild.icon_url}}" class="{{guild.class_color}}" />
                {% else %}
                <!--insert custom image here -->
                <img
                src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" 
                class="{{guild.class_color}}"
                />
                {% endif %}
            </a>
            <br />
            {{ guild.name }}
            </div>
            {% endfor %}
        </section>
    </div>
    <div class="dashboard-sidebar">
        <!--Guild Configs, Moderation, Leveling, Fun  , Utility, Welcome, Backup, Suggestions-->
        <a href="/dashboard/me"><div class="sidebar-children">Overview</div></a>
        <a href="/dashboard/me/user_settings"><div class="sidebar-children">Settings</div></a>
        <a href="/dashboard/me/switch-acc"><div class="sidebar-children">Switch Accounts</div></a>
        <a href="/dashboard/me/logout"><div class="sidebar-children">Logout</div></a>
        
    </div>
    <div class="dashboard-area">
        {% block area %}
        {% endblock %}
    </div>

</div>
{% endblock content %}

